@font-face {
    font-family: 'Parisine';
    src: url('./font/Parisine-Italic.eot');
    src: url('./font/Parisine-Italic.eot?#iefix') format('embedded-opentype'),
        url('./font/Parisine-Italic.woff2') format('woff2'),
        url('./font/Parisine-Italic.woff') format('woff'),
        url('./font/Parisine-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Parisine';
    src: url('./font/Parisine-Bold.eot');
    src: url('./font/Parisine-Bold.eot?#iefix') format('embedded-opentype'),
        url('./font/Parisine-Bold.woff2') format('woff2'),
        url('./font/Parisine-Bold.woff') format('woff'),
        url('./font/Parisine-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Parisine';
    src: url('./font/Parisine-Regular.eot');
    src: url('./font/Parisine-Regular.eot?#iefix') format('embedded-opentype'),
        url('./font/Parisine-Regular.woff2') format('woff2'),
        url('./font/Parisine-Regular.woff') format('woff'),
        url('./font/Parisine-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Parisine';
    src: url('./font/Parisine-BoldItalic.eot');
    src: url('./font/Parisine-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('./font/Parisine-BoldItalic.woff2') format('woff2'),
        url('./font/Parisine-BoldItalic.woff') format('woff'),
        url('./font/Parisine-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}


body {
    font-family: "Parisine", "Trebuchet MS", "Helvetica", sans-serif;
    font-size: 14px;
    margin: 0px;
    overflow: hidden;
    background: black;
    color: white;
    cursor: default;
}

#background {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: -100;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

    @keyframes dotAnimation {
        0% {
            opacity: 0.4;
        }

        10% {
            opacity: 1;
        }

        100% {
            opacity: 0.4;
        }
    }

    #background .dot {
        display: block;
        width: 45px;
        height: 45px;
        border-radius: 45px;
        background: #333333;
        animation-name: dotAnimation;
        animation-duration: 3s;
        animation-iteration-count: infinite;
    }

    #background .dot:nth-child(1) { animation-delay: 0s; }
    #background .dot:nth-child(2) { animation-delay: 0.4s; }
    #background .dot:nth-child(3) { animation-delay: 0.8s; }

#main {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

    #banner {
        background-color: white;
        color: black;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        height: 50px;
    }

        #banner #line {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
        }
        
            #banner #line_logo {
                width: 46px;
                height: 46px;
                margin: 2px;
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
            }
            .bus        #banner #line_logo { background-image: url("./images/bus.svg"); }
            .rer        #banner #line_logo { background-image: url("./images/rer.svg"); }
            .tram       #banner #line_logo { background-image: url("./images/tram.svg"); }
            .transilien #banner #line_logo { background-image: url("./images/transilien.svg"); }
            .metro      #banner #line_logo { background-image: url("./images/metro.svg"); }

            #banner #line_identifier {
                margin: 2px;
                width: 46px;
                height: inherit;
                display: block;
            }
            
            #banner #line_identifier_label {
                display: table-cell;
                text-align: center;
                vertical-align: middle;
                font-size: 34px;
                font-weight: bold;
            }
            .bus        #banner #line_identifier { width: auto; }
            .bus        #banner #line_identifier_label { height: 46px; padding: 0px 12px; }
            .rer        #banner #line_identifier { border-radius: 12px; }
            .rer        #banner #line_identifier_label { width: inherit; height: 46px; }
            .tram       #banner #line_identifier { width: auto; border-radius: 4px; padding: 4px 0px; }
            .tram       #banner #line_identifier_label { height: 38px; padding: 0px 10px; background: white; color: black !important; }
            .transilien #banner #line_identifier { border-radius: 12px; }
            .transilien #banner #line_identifier_label { width: inherit; height: 46px; }
            .metro      #banner #line_identifier { border-radius: 46px; }
            .metro      #banner #line_identifier_label { width: inherit; height: 46px; }

        #banner #stopname {
            padding: 0px 12px;
            text-align: left;
            font-size: 28px;
            font-weight: bold;
            width: 100%;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }

        #banner #clock {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            height: inherit;
            align-items: center;
            background: black;
            color: yellow;
            padding: 0px 12px;
        }

            #banner #clock > * {
                font-size: 30px;
            }

            #banner #clock_separator {
            }



    #nextVehicles {
        flex-grow: 1;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 100%;
    }

        #nextVehicles > * {
            flex-grow: 1;
        }

        #nextVehicles .vehicle {
            flex-basis: 0;
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            border-left: 1px solid gray;
            background-color: black;
        }

        .vehicle.visible:first-child {
            border-left: none !important;
        }

        .vehicle.hide {
            display: none !important;
        }

        .vehicle.filtered {
            display: none !important;
        }

            .vehicle .vehicleTitle {
                font-size: 36px;
                padding: 10px 20px;
            }

            .vehicle .vehicleWait {
                flex-grow: 1;
                color: yellow;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }

                .vehicleWait > .container {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    justify-content: center;
                    align-items: baseline;
                }

                    .vehicleWait_value {
                        font-size: 200px;
                        font-weight: bold;
                    }

                    .vehicleWait_unit {
                        font-size: 50px;
                        opacity: .6;
                    }

@media (max-width: 1200px) {
    .vehicleWait_value {
        font-size: 170px;
    }

    .vehicleWait_unit {
        font-size: 40px;
    }
}

@media (max-width: 1000px) {
    #banner #stopname {
        font-size: 25px;
    }

    .vehicleWait_value {
        font-size: 120px;
    }

    .vehicleWait_unit {
        font-size: 30px;
    }
}

@media (max-width: 800px) {
    #banner #stopname {
        font-size: 24px;
    }

    .vehicleWait_value {
        font-size: 70px;
    }

    .vehicleWait_unit {
        font-size: 15px;
    }
}

@media (max-width: 600px) {
    #banner #stopname {
        font-size: 20px;
    }

    .vehicleWait_value {
        font-size: 50px;
    }

    .vehicleWait_unit {
        font-size: 10px;
    }
}

@media (max-width: 400px) {
    .vehicleWait_value {
        font-size: 35px;
    }

    .vehicleWait_unit {
        font-size: 10px;
    }
}

@media (max-width: 350px) {
    #banner #stopname {
        visibility: hidden;
    }
}

@media (max-width: 250px) {
    #banner {
        display: none;
    }
}